<nav class="navbar navbar-expand-lg navar navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> Credit Card App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Apply for Credit</a>
        </li>
  
        <li class="nav-item">
          <a *ngIf="!loginService.isUserLoggedIn()" class="nav-link"  routerLink="/login">Sign-in</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">About Us</a>
        </li>
   
        <li class="nav-item">
          <a class="nav-link" routerLink="/help">Contact Us</a>
        </li>

        <li class="nav-item">
          <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" routerLink="/display">Display Account</a>
        </li>

        <li class="nav-item">
          <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" routerLink="/transaction">Transaction Statement</a>
          
        </li>

        <li class="nav-item">
          <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" routerLink="/creditScore">Credit Score</a>
          
        </li>

        <li class="nav-item ">
          <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" routerLink="/logout">Log out</a>
        </li>
  
      </ul>
    </div>
   </nav>
