
<!-- this is a navbar component that is displayed across the page 
in our website. it has nav bars to navigate the website. It has
also a dialogu box for log out confirmation -->
<nav class="navbar navbar-expand-lg navar navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> Credit Account Application </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a *ngIf="!loginService.isUserLoggedIn()" class="nav-link" routerLink="/register">Apply for Credit (Create Account)</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/help">Help</a>
        </li>
   
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
      </ul>
      
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
            <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" routerLink="/display">My Account</a>
          </li>

          <li class="nav-item">
            <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" routerLink="/transaction">Statements</a>
            
          </li>

          <li class="nav-item">
            <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" routerLink="/creditScore">Credit Score</a>
            
          </li>

          <li class="nav-item">
            <a *ngIf="!loginService.isUserLoggedIn()" class="nav-link"  routerLink="/login"><button type="button" class="btn btn-primary">Sign-in</button></a>
          </li>c
          
          <li class="nav-item ">
            <!-- <button class="btn btn-link p-0" *ngIf="loginService.isUserLoggedIn()" class="nav-link" (click)="confirmDialog()">Button</button> -->
            <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" (click)="confirmDialog()"><button type="button" class="btn btn-warning">Logout</button></a>
            <!-- <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" routerLink="/logout">Logout</a> -->
          </li>
      </ul>
    </div>
   </nav>
