<!-- this is the main component that displays the main account
information, paginated transaction history and a button link
to for credit score and statements -->

<h1 class="text-center" style="background-color: #508bfc !important;color: #fff;font-size: 30px;padding:30px">Account Information</h1>

<div class="row" id="wrapper">
    <div class="col-md-6 ml-2">
        <table class="table table-striped" [(ngModel)]=account>
            <tr>
              <th>Name:</th>
              <td>{{account.customer.firstName}} {{account.customer.middleName}} {{account.customer.lastName}}</td>
            </tr>
            <tr>
                <th>Phone Number:</th>
                <td>{{account.customer.phoneNumber}}</td>
              </tr>
            <tr>
              <th>Member Since:</th>  
              <td>{{account.creationDate | date}}</td>      
            </tr>  
            <tr>
              <th>Account Number:</th>
              <td>{{account.id}}</td>
            </tr>
            <tr>
                <th>Most Recent Credit Score:</th>
                <td>{{account.customer.creditScore}}</td>
            </tr>
            <tr>
                <th>Balance:</th>
                <td>${{account.totalCredit}}</td>
            </tr>
            <tr>
                <th>Credit Remaining:</th>
                <td>${{account.remainingCredit}}</td>
            </tr>
          </table>
        

    </div>

    <div class="col-md-4 mb-3">
        <div class="d-flex align-items-center justify-content-center" style="height: 250px" >
    
          
            <button type="button" class="btn btn-success mr-5" routerLink="/creditScore">Show Credit Score</button>
            <button type="button" class="btn btn-info" routerLink="/transaction">Get Statements</button>
            </div>
    </div>
    
  </div>

  <hr>



<div id="wrapper1"  class=" justify-content-center">
    

    <h1 class="text-center">Transaction History for the last 30 days</h1>

    <div class="mat-elevation-z8 text-center">
 
        <table class="table table-striped" mat-table [dataSource]="dataSource" matSort      matSortActive="activityDate" matSortDirection="desc">
      
         
          <ng-container matColumnDef="id">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Transaction ID. </th>
            <td class="text-center" mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="activityDate">
            <th class="text-center" mat-header-cell *matHeaderCellDef matSortActive="activityDate" matSortDirection="desc"> Transaction Date. </th>
            <td class="text-center" mat-cell *matCellDef="let element"> {{element.activityDate | date}} </td>
          </ng-container>
      
         
          <ng-container matColumnDef="amount">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Transaction Amount </th>
            <td class="text-center" mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>
      
         
          <ng-container matColumnDef="description">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Transaction Description </th>
            <td class="text-center" mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
      
          
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      
        <mat-paginator #paginator
                       [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons 
                       [pageSize]="30"
                       
                       aria-label="Select page">
        </mat-paginator>
      </div>
      

</div>