<h1 style="margin-left: 5px;">Account Information</h1>
<div class="col-md-12" id="wrapper" *ngIf="pinfoSection" style="margin-left: 5px">

<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Account Number</th>
            <th>Balance</th>
            <th>Remaining Credit</th>
        </tr>
    </thead>
   
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{customer.firstName}}</td>
            <td>{{customer.middleName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.accountNumber}}</td>
            <td>{{customer.balance}}</td>
            <td>{{customer.remianingCredit}}</td>
        </tr>
        
    </tbody>

</table>


<button class="btn btn-primary" (click)= 'toEmpSection()'>Next</button>
</div>

<div id="wrapper1" *ngIf= "empSection" style="margin-left: 5px">

    <h1>Here is the summary of transactions for 30 days</h1>
    <br>

    <button type="button" class="btn btn-danger mr-5" (click)= "onBack()">Back</button>
</div>