
<div class="container text-center m-2" id="wrapper">

    <h1 class="p-2 ml-90">About Us</h1>
    <br>

</div>

<div class="card-deck" id="wrapper1">

   
    <div class="card">
      
      <div class="card-body">
        <h5 class="card-title" >Our Credit Card Offers</h5>
        <p class="card-text">Here are some of our most popular credit card offers this month. 
            Whether you are interested in a lower interest rate, travel rewards, cash back or other perks, 
            we can help you find the right credit card from our partners. Compare your favorite offers and apply simply and securely.</p>

            <br>
            <ul class="list-group">
                <li class="list-group-item active">Gold membership with 7.5% cash back</li>
                <li class="list-group-item active">Silver membership with 4.5% cash back</li>
                <li class="list-group-item active">Basic membership with 2.5% cash back</li>
            </ul>
        
      </div>
    </div>
    <div class="card">
     
      <div class="card-body">
        <h5 class="card-title" >How to Navigate our website</h5>
        <p class="card-text">You can apply to our credit card using our website. you can click from home page apply to credit card button or from nav bar and fill your basic information and work history and then submit.
            We will reach you back either on your phone or email as soon as you application is approved.
        </p>
       
      </div>
    </div>
    <div class="card">
      
      <div class="card-body">
        <h5 class="card-title" >Track Your Credit card</h5>
        <p class="card-text">You can track your credit card application by loging in in our website. The Log in or sign in page is provided in the home page menu or nav bar. If you are existing customer, you can also check your transaction history and credit score by loging in in the website.</p>
       
      </div>
    </div>
  </div>