
<h1 class="text-center" style="background-color: #508bfc !important;color: #fff;font-size: 30px;padding:30px">About Us</h1>

<div class="card-deck" id="wrapper1">

   
    <div class="card">
      
      <div class="card-body">
        <h2 class="card-title">Our Credit Card Offers</h2>
        <p class="card-text">Here are some of our most popular credit card offers this month. 
            Whether you are interested in a lower interest rate, travel rewards, cash back or other perks, 
            we can help you find the right credit card from our partners. Compare your favorite offers and apply: simply and securely.</p>

            <br>
            <ul class="list-group">
                <li class="list-group-item active">Gold membership with 7.5% cash back</li>
                <li class="list-group-item active">Silver membership with 4.5% cash back</li>
                <li class="list-group-item active">Basic membership with 2.5% cash back</li>
            </ul>
        
      </div>
    </div>
    <div class="card">
     
      <div class="card-body">
        <h2 class="card-title" >Navigating Our Website</h2>
        <p class="card-text">You can apply for a credit account through our website. From the home page or navigation bar, click the 'Apply for Credit' button and fill in your basic information.
            A representative will reach out via phone or email as soon as you application is approved.
        </p>
       
      </div>
    </div>
    <div class="card">
      
      <div class="card-body">
        <h2 class="card-title" >Track Your Credit card</h2>
        <p class="card-text">Track your credit card application by logging into our website. If you are existing customer, you can check your statements, transaction history and credit score by logging in as well.</p>
       
      </div>
    </div>
  </div>