
<!-- this is a component for  contact page with font aswome icons and map-->

<div class="text-center" style="background-color: #508bfc !important;color: #fff;font-size: 30px;padding:30px">
  <h1>Contact Us</h1>
  <p> We are here to help. Feel free to contact us. </p>
</div>

<section class="main-contact-section" id="wrapper">


    <div class="container" id="wrapper">

        <div class="row justify-content-center">

            <div class="col-lg-10">
                <div class="card card-body py-5 border-0 shadow">
                    <div class="row">
                        <div class="col-lg-5">

                            <div class="card card-body card-contact bg-theme">
                                

                                <div class="media mb-5 align-items-center">
                                    <div class="icon-part mr-3">
                                      <i class="fa fa-map-marker" style="font-size:48px;color:brown"></i>
                                    </div>
                                    
                                    <div class="media-body">
                                      <h5 class="mt-0 text-white">411 N Best st.</h5>
                                      
                                    </div>
                                  </div>

                                  <div class="media mb-5 align-items-center">
                                    <div class="icon-part mr-3">
                                      <i class="fa fa-phone" style="font-size:48px;color:brown"></i>
                                       
                                    </div>
                                    
                                    <div class="media-body">
                                      <h5 class="mt-0 text-white">+1 233 233 2333</h5>
                                     
                                    </div>
                                  </div>

                                  <div class="media mb-5 align-items-center">
                                    <div class="icon-part mr-3">
                                      <i class="fa fa-envelope" style="font-size:48px;color:brown"></i>
                                    </div>
                                    
                                    <div class="media-body">
                                      <h5 class="mt-0 text-white">cmgt.io@gmail.com</h5>
                                       
                                    </div>
                                  </div>

                            </div>
                        </div>
                        <diV class="col-lg-7">

                            <!-- example for map adress -->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.143801624597!2d-87.6314733846627!3d41.88976437922134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cb1ed9d4d0d%3A0xa092bc1bf6205c88!2s411%20N%20Dearborn%20St%2C%20Chicago%2C%20IL%2060654!5e0!3m2!1sen!2sus!4v1641319303802!5m2!1sen!2sus" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                           
                        </diV>
                    </div>

                </div>



            </div>

        </div>

    </div>


</section>
