

   <div class="col-md-12" id="wrapper" >

        <h1 class="text-center">Here is Your monthly Statement</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Statement Date</th>
                <th>Link to the Statement</th>
                
            </tr>
        </thead>
       
        <tbody>
            <tr>
                <td>01/30/2020</td>
                <td><a href="/"><i class="fa fa-file-pdf-o "></i><small class="ml-1">Click to see the PDF Statement</small></a></td>
                
            </tr>
            
        </tbody>
    
    </table>
    
    
    

</div>

