
<!-- 
<div class="header">
    <h2 mat-dialog-title>Title</h2>
    <button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
    </button>
</div> -->

<!-- <div mat-dialog-content>
    Are you sure you want to log out?
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button [mat-dialog-close]="false">No</button>
    <button mat-raised-button class="primary" [mat-dialog-close]="true">Yes</button>
</div> -->

<!-- <button type="button" class="btn btn-primary invisible" (click)="confirmDialog()">Primary</button> -->
