<h2 mat-dialog-title>Our Company Terms and Condtions</h2>
<mat-dialog-content class="mat-typography">

  <h3>Disclosing information</h3>
  <p>As long as you agree to our terms and conditions, You are agreeing to disclose your information 
      to the credit card approval companies working for us to excell the approval process.</p>

  <h3>Annual Fee</h3>
  <p>There is no annual fee in our credit card. However, If you fail to pay your credit for three times consequently we will 
    reenact the annual fee of $50.</p>

  <h3>Interest Accruing</h3>
  <p>The interest will be charged annulay but distributed acrross each month with 5%. If there is a late payment,
      an addtional $50 dollar penality will be charged from your account. In addtion, for the late paymnet 3% additional interest will 
      be charged.

  </p>

  <h3>Updating Your information</h3>

  <p>You are asked to provide accurate information to your employmnet and personal informaton.If you provide false 
      information You will be charged for false information by State and Federal law</p>

  <h3>Cooperating with Law Enforcement</h3>

  <p>If the law enforcemnt agencies request your information for the purpose of investigation, we will disclose your 
      information according to the law and to the extent of the scope of the investigation
  </p>

  <h3>Consent to the terms and condtions</h3>

  <p>If you check the checkbox for terms and condtions, You are giving your consent to our terms and condtions and it is final</p>

 
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
 
</mat-dialog-actions>

