

<div > 
   <!-- here is the nav bar -->
    <!-- <nav class="navbar navbar-expand-lg navar navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> Credit Card App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Apply for Credit</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="#">Sign-in</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
  
      </ul>
    </div>
   </nav> -->
  
   <!-- here is page title -->
   <div class="card p-4 mt-0">
    <div class='card-header' class="text-center font-weight-bold">
        <h1>{{pageTitle}}</h1>
     </div>
    </div>
  
    <!-- here is image and the home page buttons -->
   <div class="card flex">
    <img class="card-img-top" src="./assets/images/creditcard.jpg" alt="Credit card image" 
    style="max-height:500px; object-fit: cover;" class="img-responsive mb-3 pb-3" >
    <div class="card-body" class="text-center">
      <h5 class="card-title">Follow the steps below</h5>
      <p class="card-text font-weight-bold mb-3 pb-3">Click on the appropriate button to either apply for credit, sign-in, or get help</p>
    </div>
    
    <div class="text-center mb-50 pb-50">

    <ul class="list-unstyled">
        <li class="pb-2 mb-10">
            <!-- <a routerLink="/register" > Apply For Credit </a> -->
            <button type="button" class="btn btn-primary btn-lg btn-block col-4" routerLink="/register" >
                Apply For Credit</button>
        </li>
        <li class="pb-2 mb-10">
            <button type="button" class="btn btn-success btn-lg btn-block col-4" routerLink="/login" >
            Sign-in</button>
        </li>
        <li class="pb-2 mb-10 pb-50">
            <button type="button" class="btn btn-secondary btn-lg btn-block col-4" routerLink="/help" >
                Help</button>
        </li>
    </ul>

    
    
    
      <!-- <button type="button" class="btn btn-primary btn-lg btn-block">Apply For Credit</button>
       <button type="button" class="btn btn-secondary btn-lg btn-block">Sign-in</button>
       <button type="button" class="btn btn-secondary btn-lg btn-block">Help</button> -->
    </div>
    
  </div>

    
    </div>